<div class="row pb-5 pt-5">
  <div class="col col-sm-12">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">
          Company page
        </h3>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <td>{{ company.Company_Name }}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td>{{ company.Address }}</td>
          </tr>
          <tr>
            <th>Director</th>
            <td>{{ company.Director_FirstName }} {{ company.Director_LastName }}</td>
          </tr>
          <tr>
            <th>TIN</th>
            <td>{{ company.TIN }}</td>
          </tr>
          <tr>
            <th>Employees</th>
            <td>{{ company.Employees }}</td>
          </tr>
          <tr>
            <th>WEB</th>
            <td>{{ company.WEB }}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>{{ company.Email }}</td>
          </tr>
          <tr>
            <th>Activity</th>
            <td>{{ company.Activity }}</td>
          </tr>
          <tr>
            <th>Special Activity</th>
            <td>{{ company.Special_Activity }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>